<div class="container">
  <div class="row">
    <div class="col">
      <h1>Follow Users</h1>
      <table class="table">
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>

        <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(50,50) %></td>
          <td><%= user.name %></td>
          <td><%= render 'relationships/btn', user: user %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        <% end %>
        </tr>
      </table>
      <p><%= link_to 'Back', users_path %></p>
    </div>
  </div>
</div>
