<table class="table table-bordered">
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>昨日</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= this_week_books.count %></td>
      <td><%= days_5ago_books.count %></td>
      <td><%= days_4ago_books.count %></td>
      <td><%= days_3ago_books.count %></td>
      <td><%= days_2ago_books.count %></td>
      <td><%= yesterday_books.count %></td>
      <td><%= today_books.count %></td>
    </tr>
  </tbody>
</table>